<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="interfaz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <interfaz.Properties.Settings>
            <setting name="interfaz_RMI_RMIStation" serializeAs="String">
                <value>http://localhost:8080/RMIStation/services/RMIStation.RMIStationHttpSoap11Endpoint/</value>
            </setting>
            <setting name="interfaz_RMI11_RMIStation" serializeAs="String">
                <value>http://localhost:8080/practica2sd/services/RMIStation.RMIStationHttpSoap11Endpoint/</value>
            </setting>
        </interfaz.Properties.Settings>
    </applicationSettings>
</configuration>